# environments
.envrc
.venv

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Python tools
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/

# VS Code
.vscode/
*.code-workspace

# this repo
*_Debug.txt
.last_run
