{%- import '00-stencils/common.jinja' as common -%}

{# -------------------------------------------------------------------------- #}

{%- set all_variables = {
  'A': {
    'repeats': 5,
    'selector': 'ab',
  },
  'b': {
    'repeats': 3,
    'selector': 'ab',
  },
  'c': {
    'repeats': 2,
    'selector': 'cd',
  },
  'D': {
    'repeats': 10,
    'selector': 'cd',
  },
} -%}

{# -------------------------------------------------------------------------- #}

{{- 'ab.txt' | start_new_file -}}

{{- common.render(all_variables, 'ab') -}}

{# -------------------------------------------------------------------------- #}

{{- 'cd.txt' | start_new_file -}}

{{- common.render(all_variables, 'cd') -}}
