{%- import 'stencils/common.jinja' as common -%}

{# -------------------------------------------------------------------------- #}

{%- set all_variables = {
  'A': {
    'repeats': 5,
  },
  'b': {
    'repeats': 3,
  },
} -%}

{# -------------------------------------------------------------------------- #}

{{- 'ab.txt' | start_new_file -}}

{{- common.render(all_variables) -}}
