{%- set COLLATION = 'Latin1_General_100_CI_AS' -%}

{%- set NVARCHAR      = 'NVARCHAR(200) COLLATE ' + COLLATION -%}
{%- set NVARCHAR_MAX  = 'NVARCHAR(MAX) COLLATE ' + COLLATION -%}

{%- set DECIMAL  = 'DECIMAL(10, 5)' -%}
